node_modules/
frontend/dist/
frontend/node_modules/
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
!backend/storage/logs/.gitignore
!backend/storage/framework/cache/.gitignore
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore
!backend/bootstrap/cache/.gitignore
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/
frontend/src/abi/*.json
.DS_Store
*.log
.env
.idea/
.vscode/
